<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShivOm About Popup</title>

    <link rel="stylesheet" href="../CSS/ShivOmAboutPopup.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="shiv-about-popup-main-con">

        <div class="shiv-about-popup-con">

            <p class="shiv-about-popup-top-head">About Us</p>

            <p class="shiv-about-popup-sub-head">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                laudantium molestiae rem excepturi perferendis commodi.</p>

            <div class="shiv-about-popup-content-con">

                <div class="shiv-about-popup-left-con">
                    <p class="shiv-about-popup-left-text">
                        <span class="shiv-about-popup-left-text-1">Mr</span>
                        <span class="shiv-about-popup-left-text-2">lloys dharmendra</span>
                        <span class="shiv-about-popup-left-text-3">President of ShivOm Insurence</span>
                    </p>
                </div>

                <div class="shiv-about-popup-img-con">
                    <img src="https://t3.ftcdn.net/jpg/06/72/52/84/360_F_672528447_VmsNsaHQlYUYr8YAYbheMkAN6wZwfhYx.jpg"
                        alt="ShivOm Insurance Head Image">
                </div>

                <div class="shiv-about-popup-right-con">
                    <p class="shiv-about-popup-right-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at in distinctio illo eius
                        dolor asperiores laboriosam dolores tempora.
                    </p>
                </div>

            </div>

            <!-- CLOSE BUTTON -->
            <div class="shiv-about-popup-close-btn">
                <button><i class="fa-solid fa-xmark"></i></button>
            </div>

            <!-- FLOATING ELEMENTS -->
            <div class="shiv-about-popup-screen-floating-element-con">
                <div class="popup-floating"></div>
                <div class="popup-floating"></div>
                <div class="popup-floating"></div>
                <div class="popup-floating"></div>
                <div class="popup-floating"></div>
                <div class="popup-floating"></div>
            </div>

        </div>

    </div>
</body>

</html>
