<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShivOm-Services</title>

    <link rel="stylesheet" href="../CSS/ShivOmServices.css">
</head>

<body>
    <div class="shiv-services-main-con">
        <div class="shiv-services-heading-con">
            <p class="shiv-services-top-sub-head">OUR SERVICES</p>

            <h1 class="shiv-services-heading">
                Services you can depend on <br>
                when it matters the most
            </h1>

            <p class="shiv-services-below-sub-head">
                We provide reliable insurance solutions designed to protect you, your family,
                and your assets.<br> Our expert guidance ensures peace of mind at every stage of life.
            </p>
        </div>

        <div class="shiv-services-cards-con">

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/homeService.png" alt="Home insurance icon">
                </div>

                <p class="shiv-services-card-heading">Home Insurance</p>

                <p class="shiv-services-card-details">
                    Secure your home against fire, theft, natural disasters, and unexpected damages
                    with comprehensive.
                </p>
            </div>

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/carService.png" alt="Car insurance icon">
                </div>

                <p class="shiv-services-card-heading">Car Insurance</p>

                <p class="shiv-services-card-details">
                    Drive with confidence knowing your vehicle is protected against accidents,
                    theft, and third-party liabilities.
                </p>
            </div>

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/familyServices.png" alt="Family insurance icon">
                </div>

                <p class="shiv-services-card-heading">Family Insurance</p>

                <p class="shiv-services-card-details">
                    Comprehensive insurance plans designed to safeguard your entire family’s
                    health, future, and financial stability.
                </p>
            </div>

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/healthService.png" alt="Health insurance icon">
                </div>

                <p class="shiv-services-card-heading">Health Insurance</p>

                <p class="shiv-services-card-details">
                    Get access to quality healthcare with cashless hospitalization, wide hospital
                    networks, and flexible coverage options.
                </p>
            </div>

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/lifeService.png" alt="Life insurance icon">
                </div>

                <p class="shiv-services-card-heading">Life Insurance</p>

                <p class="shiv-services-card-details">
                    Protect your loved ones financially with life insurance plans that offer
                    long-term security and peace of mind.
                </p>
            </div>

            <div class="shiv-services-card">
                <div class="shiv-services-card-img-con">
                    <img src="../IMAGES/retirmentService.png" alt="Retirement insurance icon">
                </div>

                <p class="shiv-services-card-heading">Retirement Insurance</p>

                <p class="shiv-services-card-details">
                    Plan a stress-free retirement with investment-backed insurance plans that
                    ensure steady income and financial independence.
                </p>
            </div>
        </div>

    </div>
</body>

</html>