<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShivOm-Packages</title>

    <link rel="stylesheet" href="../CSS/ShivOmPackages.css">
</head>

<body>
    <div class="shiv-packages-main-con">
        <div class="shiv-packages-img-main-con">
            <div class="shiv-packages-img-con">
                <img src="../IMAGES/packagesBG.png" alt="Shiv packages background">
            </div>
        </div>

        <div class="shiv-packages-content-card-con">

            <div class="shiv-packages-content-con">
                <p class="shiv-packages-top-sub-head">OUR BEST INSURANCE PLANS</p>

                <h1 class="shiv-packages-heading">Protecting your today and tomorrow</h1>

                <p class="shiv-packages-below-sub-head">
                    Trusted insurance solutions designed to secure your future<br>
                    and safeguard what matters most in life.
                </p>
            </div>

            <div class="shiv-packages-cards-con">
                <div class="shiv-packages-card">
                    <h1 class="shiv-package-card-heading">Child Plan</h1>

                    <p class="shiv-package-card-price-head"><span>2000</span>&#8377;/Month</p>

                    <p class="shiv-package-card-sub-head">
                       A smart savings plan for your child's education.
                    </p>

                    <ul class="shiv-package-card-list">
                        <li>Education fund</li>
                        <li>Emergency support</li>
                        <li>Flexible premiums</li>
                        <li>Wealth growth</li>
                    </ul>

                    <button class="shiv-packages-card-btn">REQUEST A CALL</button>
                </div>

                <div class="shiv-packages-cardd">
                    <h1 class="shiv-package-card-heading">Retirement Plan</h1>

                    <p class="shiv-package-card-price-head"><span>2000</span>&#8377;/Month</p>

                    <p class="shiv-package-card-sub-head">
                        Build a stable income stream and enjoy a worry-free retirement.
                    </p>

                    <ul class="shiv-package-card-list">
                        <li>Monthly income</li>
                        <li>Tax benefits</li>
                        <li>Inflation protection</li>
                        <li>Flexible payouts</li>
                        <li>Lifetime security</li>
                    </ul>

                    <button class="shiv-packages-card-btn">REQUEST A CALL</button>
                </div>

                <div class="shiv-packages-card">
                    <h1 class="shiv-package-card-heading">Marriage Plan</h1>

                    <p class="shiv-package-card-price-head"><span>2000</span>&#8377;/Month</p>

                    <p class="shiv-package-card-sub-head">
                        Plan ahead for marriage expenses without financial stress.
                    </p>

                    <ul class="shiv-package-card-list">
                        <li>Savings fund</li>
                        <li>Assured returns</li>
                        <li>Long-term growth</li>
                        <li>Financial security</li>
                    </ul>

                    <button class="shiv-packages-card-btn">REQUEST A CALL</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>